/*
 *  Color Scheme
 *
 */
/* Selected text */
::-moz-selection {
  background: #ffb244;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #ffb244;
  color: #ffffff;
  text-shadow: none;
}
/*********************/
/* General anchor states */
a:active,
a:focus,
a:hover {
  color: #ff9d11;
  text-decoration: none;
  outline: 0;
}
/*********************/
/* Layout top header */
.app > .header,
.app > .container > .header {
  background-color: #ffffff;
}
.header .brand {
  background-color: #ffb244;
}
.header .brand a {
  color: #ffffff;
}
.header .navbar-toggle {
  color: #ffffff;
}
.header .nav > li > a,
.header .bg-none {
  color: #444444;
}
.header .form-control:-moz-placeholder {
  color: #5e5e5e;
}
.header .form-control::-moz-placeholder {
  color: #5e5e5e;
}
.header .form-control:-ms-input-placeholder {
  color: #5e5e5e;
}
.header .form-control::-webkit-input-placeholder {
  color: #5e5e5e;
}
/*********************/
/* Layout Sidebar */
.sidebar,
.chat-sidebar {
  background-color: #ffb244;
  color: #ffffff;
}
.sidebar a,
.chat-sidebar a {
  color: #ffffff;
}
.main-navigation > ul > li > a {
  color: #ffffff;
}
.app:not(.small-sidebar) .collapsible .main-navigation > ul > li > ul > li > a {
  color: #ffffff;
}
.app:not(.small-sidebar) .collapsible .main-navigation > ul > li > ul > li.active {
  background: #ff9d11;
}
.main-navigation:not(.app-navigation) > ul > li.active,
.main-navigation:not(.app-navigation) > ul > li:hover,
.main-navigation:not(.app-navigation) > ul > li.open {
  background: #ffad37;
}
/*********************/
/* Skin Gallery style */
.spinner-loader {
  background: #ffb244;
  background-color: rgba(255, 178, 68, 0.9);
}
.spinner-loader > div {
  background-color: #ffe8c7;
}
.loader {
  color: #ffc777;
}
.gallery .overlay {
  background: #ffb244;
  background-color: rgba(255, 178, 68, 0.9);
}
/*********************/
/* Skin button style */
.btn-color {
  color: #ffffff;
  background-color: #ffb244;
  border-color: #ffb244;
}
.btn-color:hover,
.btn-color:focus,
.btn-color:active,
.btn-color.active,
.open .dropdown-toggle.btn-color {
  color: #ffffff;
  background-color: #ffa72a;
  border-color: #ffa72a;
}
a.btn-color {
  color: #ffffff;
}
.btn-color:active,
.btn-color.active,
.open .dropdown-toggle.btn-color {
  background-image: none;
}
.btn-color.disabled,
.btn-color[disabled],
fieldset[disabled] .btn-color,
.btn-color.disabled:hover,
.btn-color[disabled]:hover,
fieldset[disabled] .btn-color:hover,
.btn-color.disabled:focus,
.btn-color[disabled]:focus,
fieldset[disabled] .btn-color:focus,
.btn-color.disabled:active,
.btn-color[disabled]:active,
fieldset[disabled] .btn-color:active,
.btn-color.disabled.active,
.btn-color[disabled].active,
fieldset[disabled] .btn-color.active {
  background-color: #ffb244;
  border-color: #ffb244;
}
/*********************/
/* Skin text color style */
.color {
  color: #ffb244;
}
/*********************/
/* Skin table style */
.panel-color.pricing-table-2 .plan-price span {
  border-color: #ffb244;
}
.panel-color.pricing-table-2:hover .plan-price span {
  background-color: #ffb244;
  color: #ffe8c7;
}
/*********************/
/* Skin nestable style */
#nestable2 .dd-handle {
  color: #ffe8c7;
  border: 1px solid #ffb244;
  background: #ffb244;
}
#nestable2 .dd-handle:hover {
  background: #ffbc5e;
}
/*********************/
/* Skin slider style */
.slider-color .slider-selection {
  background-color: #ffb244;
}
/*********************/
/* Skin panel style */
.panel-color {
  border-color: #ffb244;
}
.panel-color > .panel-heading {
  color: #ffe8c7;
  background-color: #ffb244;
  border-color: #ffb244;
}
.panel-color > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ffb244;
}
.panel-color > .panel-heading a {
  color: #ffe8c7;
}
.panel-color > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ffb244;
}
/*********************/
/* Skin label style */
.label-color {
  background-color: #ffb244;
}
.label-color[href]:hover,
.label-color[href]:focus {
  background-color: #ff9d11;
}
/*********************/
/* Skin background color */
.bg-color {
  background-color: #ffb244;
  color: #ffd8a0;
}
.bg-color > a {
  color: #ffd8a0;
}
.bg-color > a:active,
.bg-color > a:focus,
.bg-color > a:hover {
  color: #ffd293;
  text-decoration: none;
  outline: 0;
}
.bg-color .nav > li:hover > a,
.bg-color .nav > li:focus > a,
.bg-color .nav > li:active > a,
.bg-color .nav > li.active > a,
.bg-color .nav > li > a:hover,
.bg-color .nav > li > a:focus {
  background-color: #ffac35;
}
/*********************/
/* Skin pagination style */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.dataTables_wrapper .pagination .active a {
  border-color: #ffb244;
  background-color: #ffb244;
  color: #fff;
}
/*********************/
/* Skin progress bar style */
.progress-bar-color {
  background-color: #ffb244;
}
/*********************/
/* Skin chart elements */
.morris-hover.morris-default-style {
  background-color: #ffb244;
  border-color: transparent;
  background-color: rgba(255, 178, 68, 0.9);
}
.morris-hover.morris-default-style a {
  color: #ffe8c7;
}
#jqstooltip {
  background: #ffb244;
}
#tooltip {
  background: #ffb244;
  color: #ffe8c7;
}
#tooltip:before {
  border-color: transparent #ffb244 transparent transparent;
}
/*********************/
